---
BasedOnStyle: Microsoft
CompactNamespaces: 'false'
Language: Cpp
NamespaceIndentation: All
PointerAlignment: Right
ReflowComments: 'false'
SortIncludes: 'false'
SortUsingDeclarations: 'true'
SpaceAfterCStyleCast: 'true'
SpaceAfterLogicalNot: 'true'
SpaceBeforeAssignmentOperators: 'true'
SpaceBeforeRangeBasedForLoopColon: 'true'
UseTab: ForIndentation
ColumnLimit: 180
...
